/* 全体のスタイル */
body {
    text-align: center;
 
    background-size: cover;
    background-attachment: fixed;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

/* メインコンテンツのスタイル */
main {
    padding: 20px;
}
section h2 {
    margin-top: 40px;
}


